<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stack Underflow</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "All Questions", questions_path %>
        </li>
        <li>
          <%= link_to "Profile Page", user_path(current_user) %>
        </li>
      </ul>
      <p class="navbar-text navbar-right">
        Signed in as <em><%= current_user.name %></em>
        <%= link_to "Sign Out", log_out_path,
          class: "btn btn-default btn-xs" %>
      </p>
    </div>
  </div>
</nav>
